---

---

<div id="sideMenuBackground" class="bg-black w-screen h-full fixed top-0 right-0 opacity-70 backdrop-blur-md hidden md:hidden"></div>
<div id="sideMenu" class="bg-white fixed top-0 h-screen p-6 z-10 transition-all duration-300 w-[270px] md:w-[350px] lg:w-[450px] -right-[500px] md:hidden">
    <nav class="flex flex-col gap-3 mt-24">
        <a href="/" class="text-[#3d1218] text-2xl font-bold">Inicio</a>
        <a href="/about" class="text-gray-800 hover:text-[#3d1218] transition-all duration-300 text-2xl font-bold">Sobre nosotros</a>
        <a href="/products" class="text-gray-800 hover:text-[#3d1218] transition-all duration-300 text-2xl font-bold">Productos</a>
        <a href="/contact" class="text-gray-800 hover:text-[#3d1218] transition-all duration-300 text-2xl font-bold">Contáctenos</a>
    </nav>
</div>


<script>
    import { isSideMenuOpen } from '@/store/store.ts';

    const sideMenu = document.getElementById('sideMenu');
    const sideMenuBackground = document.getElementById('sideMenuBackground');
    const sideMenuCross = document.getElementById('side_menu_cross');

    //escucha los cambios en el store y muestra o oculta el menu
    isSideMenuOpen.subscribe(open => {
        if(open){
            sideMenuBackground.classList.remove('hidden');
            sideMenu.classList.remove('hidden');
            sideMenu.classList.remove('-right-[500px]');
            sideMenu.classList.add('right-0');
        }else{
            sideMenuBackground.classList.add('hidden');
            sideMenu.classList.add('hidden');
            sideMenu.classList.add('-right-[500px]');
            sideMenu.classList.remove('right-0');
        }
    });

    sideMenuBackground.addEventListener('click', () => {
        isSideMenuOpen.set(false);
    });
</script>