---
import Layout from '@/layouts/Layout.astro';
import FisrtLayer from '@/components/layers/fisrtLayer.astro';
import SecondLayer from '@/components/layers/secondLayer.astro';
import FourthLayer from '@/components/layers/fourthLayer.astro';
---
<Layout title="Coffté">
	<main >
		<FisrtLayer/>
		<SecondLayer/>
		<FourthLayer/>
	</main>
</Layout>
