---
import Layout from '@/layouts/Layout.astro';
import FisrtLayer from '@/components/layers/fisrtLayer.astro';
---
<Layout title="Coffté">
	<main class="h-screen w-screen bg-red-500">
		<FisrtLayer/>
	</main>
</Layout>
