---
import Layout from '@/layouts/Layout.astro';
import FisrtLayer from '@/components/layers/fisrtLayer.astro';
import SecondLayer from '@/components/layers/secondLayer.astro';
import FourthLayer from '@/components/layers/fourthLayer.astro';
import GalleryLayer from '@/components/layers/GalleryLayer.astro';
import ThirdLayer from '@/components/layers/thirdLayer.astro';
---
<Layout title="Coffté">
	<main >
		<FisrtLayer/>
		<SecondLayer/>
		<ThirdLayer/> 
		<FourthLayer/>
		<GalleryLayer/>
	</main>
</Layout>
