---
import Layout from '@/components/layouts/Layout.astro';
import FisrtLayer from '@/components/layers/fisrtLayer.astro';
---
<Layout title="Coffté">
	<main class="pt-40">
		<FisrtLayer />
	</main>
</Layout>
