<header class="fixed top-0 left-0 w-full flex justify-center md:pt-8 z-50 ">
    <nav class="bg-white max-w-6xl w-full flex justify-center md:justify-between items-center py-6 md:py-0 px-8 font-bold text-base lg:rounded-xl shadow-lg">
        <div class="hidden md:block">
            <a href=""><img src="/img/logo.png" alt="" class="w-20"></a>
        </div>
        <div class="">
            <ul>
                <li class="flex gap-6 md:gap-10 text-gray-800">
                    <a class="text-yellow-500 transition-all duration-300" href="/">Inicio</a>
                    <a class="hover:text-yellow-500 transition-all duration-300" href="/about">Sobre nosotros</a>
                    <a class="hover:text-yellow-500 transition-all duration-300" href="/products">Productos</a>
                    <a class="hover:text-yellow-500 transition-all duration-300" href="/contact">Contáctenos</a>
                </li>
            </ul>
        </div>
        <div>
            <button class="bg-[#abca37] hidden md:block hover:bg-yellow-500 text-white px-4 py-2 rounded-md transition-all duration-300">
                PARTHER
            </button>
        </div>
    </nav>
</header>