---
import '@fontsource/poppins';
import '@fontsource/poppins/700.css';
---

<section class="w-full h-auto bg-[#fefede] px-72 py-16">
    <span class="flex items-center justify-center font-[Poppins] gap-3">
        <p class="text-green-950 text-4xl font-bold">Galería</p>
        <hr class="w-[100%] border-green-900">
    </span>
    <div class="grid grid-cols-5 gap-8 mt-10">
        <img  class="w-full h-[320px]  rounded-3xl object-cover hover:scale-105 transition-all duration-300" src="img/gallery/jegibre-img.jpg" alt="">
        <img class="w-full col-span-2 h-[320px]  rounded-3xl object-cover" src="img/gallery/cultivo-cana.jpg" alt="">
        <img  class="w-full h-[320px]  rounded-3xl object-cover hover:scale-105 transition-all duration-300" src="img/gallery/coffte-michelado.jpg" alt="">
        <img  class="w-full h-[320px]  rounded-3xl object-cover hover:scale-105 transition-all duration-300" src="img/gallery/agua-img.jpg" alt="">

        <div class="w-full h-[400px] col-span-3 bg-gradient-to-r from-[#ff8a1c] via-[#f98c25] to-[#f85f00] rounded-3xl mt-12 flex items-start justify-center p-11 flex-col">
            <h1 class="text-6xl font-extrabold font-[Poppins] text-[#121213]">¿Ya disfrutaste hoy de un vaso de <span class="text-white">Coffté</span>?</h1>
            <p class="text-[#121213] text-xl font-[Poppins]">¿Qué esperas? Descubre nuestros tres sabores y anímate a probarlos. ¡Te encantarán!</p>
        </div>
    </div>
</section>