---
import { ReactiveLayer, ReactiveText } from '../ReactComponents/reactiveLayer';
---

<div class="p-5" style="background-color: rgb(241, 215, 68);">
    <div class="flex flex-col md:flex-row justify-center items-center md:space-x-12">
        <div class="flex flex-col items-center">
            <ReactiveLayer bgImage="public/img/manzanas.png" bottleImage="public/img/botellaaa.png" /><ReactiveText text="Fresh" text_2="Apple"/>
        </div>
        <div class="flex flex-col items-center">
            <ReactiveLayer bgImage="public/img/naranjas.png" bottleImage="public/img/botella_n.png" /><ReactiveText text="Fresh" text_2="Orange"/>
        </div>
        <div class="flex flex-col items-center">
            <ReactiveLayer bgImage="public/img/uvas.png" bottleImage="public/img/botella_v.png" /><ReactiveText text="Fresh" text_2="Grape"/>
        </div>
    </div>
</div>
